@model TongThanhToan
@{
    ViewData["Title"] = "ChiTietHoaDonMua";
    Layout = "~/Views/Shared/_ThirdLayout.cshtml";
}
<script src="/template/sneat//assets/vendor/js/bootstrap.js"></script>

<div class="text-center mb-4">
    <h2 class="section-title px-5"><span class="px-2" style="background-color:gainsboro">Chi tiết hóa đơn</span></h2>
</div>
<!-- Checkout Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <div class="col-lg-6">
            <div class="mb-4">
                <h4 class="font-weight-semi-bold mb-4">Hóa đơn thanh toán</h4>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>Tên người nhận</label>
                        <input class="form-control" type="text" value="@Model.NguoiMua.HoTen" disabled>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Số điện thoại</label>
                        <input class="form-control" type="text" placeholder="+84 12 3465 678" value="@Model.NguoiMua.SDT" disabled>
                    </div>
                    <div class="col-md-12 form-group">
                        <label>Địa chỉ giao hàng</label>
                        <textarea class="form-control" placeholder="Nhập địa chỉ giao hàng của bạn" style="min-height: 20vh;" disabled>@Model.NguoiMua.DiaChi</textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Hóa đơn</h4>
                </div>

                @foreach (var HD in Model.HD)
                {
            <div class="card-body">
                <table class="table  mb-0">
                    <tr>
                        <td><h5 class="font-weight-medium mb-3">Mã: </h5></td>
                        <td><h5 class="font-weight-medium mb-3">@HD.MaHoaDon</h5></td>
                    </tr>
                    <tr>
                        <td><h5 class="font-weight-medium mb-3">Người bán: </h5></td>
                        <td><h5 class="font-weight-medium mb-3">@HD.NguoiBan.TenHienThi</h5></td>
                    </tr>
                    <tr>
                        <td><h5 class="font-weight-medium mb-3">Tình trạng: </h5></td>
                        <td><h5 class="font-weight-medium mb-3">@HD.TinhTrang</h5></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
                <div style="overflow: auto;">
                    <table class="table table-bordered text-center mb-0" style="font-size: 13px;">
                        <thead class="bg-secondary text-dark">
                            <tr>
                                <th colspan="2">Sản phẩm</th>
                                <th>Đơn giá</th>
                                <th>Số lượng</th>
                                <th>Giá</th>
                            </tr>
                        </thead>
                        <tbody class="align-middle">
                            @foreach (var item in HD.SanPham)
                            {
                                string dongia = string.Format("{0:#,##0.########}", item.dongiasp);
                                string tonggia = string.Format("{0:#,##0.########}", (item.dongiasp * item.soluongsp));
                                <tr>
                                    <td class="align-middle"><img src="@item.anhdaidien" alt="" style="width: 40px; height: 40px;"> </td>
                                    <td class="align-middle">@item.tensp </td>
                                    <td class="align-middle">@dongia</td>
                                    <td class="align-middle">
                                        <div class="mx-auto align-middle">
                                            @item.soluongsp
                                        </div>
                                    </td>
                                    <td class="align-middle">@tonggia</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
                <hr class="mt-0">
                @{
                    string HDTien = string.Format("{0:#,##0.########}", HD.TongGia);
                }
                <div class="card-footer border-secondary bg-transparent">
                    <div class="d-flex justify-content-between mt-2">
                        <h5 class="font-weight-bold">Số tiền phải trả cho hóa đơn</h5>
                        <h5 class="font-weight-bold">@HDTien</h5>
                    </div>
                </div>
                <hr style="border-top: 5px solid #0f893b">
            </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- Checkout End -->
